* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #43345d;
}
.mainHeading {
  text-align: center;
  color: white;
}
.cardContainer {
  width: 600px;
  /* width: 600px; */
  padding: 20px 10px;
  max-height: 95px;
  overflow: hidden;
  transition: 0.7s ease-in-out;
  background-color: #fff;
  -webkit-box-shadow: 10px 11px 23px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 11px 23px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 11px 23px -3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 20px;
}

.cardContainer:hover {
  max-height: 250px;
  overflow: visible;
}
.topCardSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  text-align: center;
}
.topCardSection .logo {
  font-size: 16px;
  font-weight: 700;
  flex: 1;
}
.topCardSection .logo span {
  font-weight: 400;
}
.topCardSection input {
  width: 200px;
  height: 25px;
  padding: 20px 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  flex: 1;
}

.topCardSection h1 {
  font-size: 16px;
  font-weight: 500;
  flex: 1;
}

.bottomCardSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.leftSection {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.leftSection .leftSectionElement {
  padding: 0px 10px;
  text-align: center;
  flex: 1;
}

.leftSection .leftSectionElement h4 {
  font-weight: 500;
}
